<!DOCTYPE html>
<html>
<head>
    <title>Book Scraper</title>
</head>
<body>
    <h1>Books to Scrape - Search</h1>
    <form method="get" action="/search">
        <input type="text" name="query" placeholder="Search by title">
        <input type="submit" value="Search">
    </form>
    <ul>
        {% for book in books %}
        <li>
            <strong>{{ book.Title }}</strong><br>
            Price: £{{ book.Price }}<br>
            Rating: {{ book.Rating }}<br>
            <em>{{ book.Description[:150] }}...</em><br><br>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
